.posters {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: #f97316;
  gap: 35px;
  margin-left: 170px;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.posters::-webkit-scrollbar {
  display: none; 
}
.posters img {
  max-width: 350px;
  width: auto;
  height: auto;
  object-fit: contain;
}
.posters img {
  max-height: 250px;
  max-width: 400px;
  scroll-snap-align: start;
  flex: 0 0 auto;
}

#robot {
  width: 850px;
  height: 700px;
  z-index: 2;
  margin-top: -250px;
}

#icon {
  width: 350px;
  height: 250px;
  z-index: 1;
  position: relative;
}

#heroicon{
  width: auto; height: 150px;
}





@media (max-width: 768px) {


  #icon{
    width: 200px;
    height: 150px;
    bottom: 100px;
  }
  #robot {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
  }
}
